[defaults]
inventory = inventory.yml
host_key_checking = False
deprecation_warnings = False
ansible_python_interpreter = /usr/bin/python3
gathering = smart
fact_caching = jsonfile
fact_caching_connection = /tmp/ansible_facts
fact_caching_timeout = 86400
timeout = 30

[privilege_escalation]
become = True
become_method = sudo
become_user = root
